/* draggable targets */
ul
{
    float:left;
    list-style-type:none;

    overflow-y:auto;

    /*margin:0 0.5em 0.5em 0;*/
    /*padding:0.5em;*/

    border:2px solid #888;
    border-radius:0.2em;

    background:#ddd;
    color:#555;
}

/* drop target state */
ul[aria-dropeffect="move"]
{
    border-color:#68b;
    background:#fff;
}

/* drop target focus and dragover state */
ul[aria-dropeffect="move"]:focus,
ul[aria-dropeffect="move"].dragover
{
    outline:none;

    box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
li
{
    display:block;
    list-style-type:none;

    margin:0 0 2px 0;
    padding:0.2em 0.4em;

    border-radius:0.2em;

    line-height:1.3;
}

/* items focus state */
li:focus
{
    outline:none;

    box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
li[aria-grabbed="true"]
{
    background:#8adccc;
    color:#fff;
}
